<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8"utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>王者传奇手游礼包领取中心_王者传奇礼包领取地址_9377手游</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" rel="stylesheet" href="../static/style/wap/base214.css"  />
    <link type="text/css" rel="stylesheet" href="../static/style/wap/style214.css"  />
</head>
<body>

<div class="header-topBar">
    <a href="index.htm"  class="logo">
        <img src="../static/images/wap/logo.png-20180316184214.png"  alt="9377手游平台" />
    </a>
    <div class="spring_chicken"></div>
    <div class="spring_dog"></div>
    <div class="top_right">
        <a href="javascript:;" class="top_nav_ico app-center none" id="app-center"></a>
        <a href="javascript: window.location='https://www.9377.cn/login.php?ac=login&type=wap'"  class="top_nav_ico app-center " id="no-login"></a>

        <div class="top-nav" id="top-nav">
            <div id="logined">
                <a href="user-1.php.htm" ><em class="l1"></em><span class="username"></span></a>
                <a href="user-1.php-ac=game_card.htm" ><em class="l2"></em>我的礼包</a>
                <a href="user-1.php.htm" ><em class="l3"></em>我的设置</a>
                <a href="javascript:window.location='https://www.9377.cn/login.php?do=logout&type=wap'" ><em class="l4"></em>退出登录</a>
            </div>

        </div>
        
    </div>
    
</div>


<div class="body_area mt50">
    <div class="inside_con">
        <ul>
            <li class="game-row clearfix" >
                <a class="game-link-new clearfix fl" href="javascript:;">
                    <div class="game-icon-new fl">
                        <img src="../static/images/2014/game/icon-big/wzcqaz.png-20180316184214.png"  alt="【王者传奇】加群礼包" />
                    </div>
                    <div class="game-msg-new fl">
                        <div class="gamei-title">【王者传奇】加群礼包</div>
                        <div class="game-summary ell">有效期：2017-07-04至2019-09-30</div>
                        <div class="progress-box"> <span class="progress"><i style="width:8.6%"></i></span> <em>剩余8.6%</em> </div>
                    </div>
                </a>
                <div class="game-down-btn-new">
                    <a class="blue_down get_card" href="javascript:;">领取</a>
                </div>
            </li>
        </ul>
        <div class="card_main">
            <div class="card_bg" style="display:none;">
            </div>
            <div class="card_down">
            <!-- 判断下是用什么下载地址 -->
               <a href="javascript:if(confirm(''))window.location='https://dl.9377.cn/wzcq/wzcq_9377_wzcq_gw.apk'"  class="Js_fixwx" target="_blank">下载游戏</a>
            </div>
            <div class="card_con">
            
            </div>
        </div>

        <!--该游戏相关礼包-->
        <div class="game_tit other_game_tit clearfix">
            <a class="cur" href="javascript:;">其他礼包</a>
        </div>
        <ul>
            <li class="game-row clearfix">
                <a class="game-link-new clearfix fl" href="game_card.php-card_type=932.htm" >
                    <div class="game-icon-new fl">
                        <img src="../static/images/2014/game/icon-big/wzcqaz.png"  alt="【王者传奇】新手礼包" />
                    </div>
                    <div class="game-msg-new fl">
                        <div class="gamei-title">【王者传奇】新手礼包</div>
                        <div class="progress-box"> <span class="progress"><i style="width:10.1%"></i></span> <em>剩余10.1%</em></div>
                        <div class="game-summary ell">有效期：2017-06-16至2019-12-31</div>                </div>
                </a>
                <div class="game-down-btn-new">
                    <a class="blue_down get_card" href="game_card.php-card_type=932.htm" >领取</a>
                </div>
            </li>
            <li class="game-row clearfix">
                <a class="game-link-new clearfix fl" href="game_card.php-card_type=947.htm" >
                    <div class="game-icon-new fl">
                        <img src="../static/images/2014/game/icon-big/wzcqaz.png"  alt="【王者传奇】特权礼包" />
                    </div>
                    <div class="game-msg-new fl">
                        <div class="gamei-title">【王者传奇】特权礼包</div>
                        <div class="progress-box"> <span class="progress"><i style="width:0%"></i></span> <em>剩余0%</em></div>
                        <div class="game-summary ell">有效期：2017-06-16至2019-06-16</div>                </div>
                </a>
                <div class="game-down-btn-new">
                    <a class="blue_down get_card" href="game_card.php-card_type=947.htm" >领取</a>
                </div>
            </li>
            <li class="game-row clearfix">
                <a class="game-link-new clearfix fl" href="game_card.php-card_type=965.htm" >
                    <div class="game-icon-new fl">
                        <img src="../static/images/2014/game/icon-big/wzcqaz.png"  alt="【王者传奇】勇士礼包" />
                    </div>
                    <div class="game-msg-new fl">
                        <div class="gamei-title">【王者传奇】勇士礼包</div>
                        <div class="progress-box"> <span class="progress"><i style="width:11.8%"></i></span> <em>剩余11.8%</em></div>
                        <div class="game-summary ell">有效期：2017-06-16至2019-12-31</div>                </div>
                </a>
                <div class="game-down-btn-new">
                    <a class="blue_down get_card" href="game_card.php-card_type=965.htm" >领取</a>
                </div>
            </li>
        </ul>
        
    </div>
    
</div>

<script type="text/javascript"> var sign = "", ncid = "1001"; </script>
<div class="url clearfix" id="bottom_nav">
    <a href="index.htm" ><em class="sy"></em>首页</a>
    <a href="game_center.php.htm" ><em class="yx"></em>游戏</a>
    <a href="game_card-1.php.htm" ><em class="lb"></em>礼包</a>
    <a href="kefu/index-1.htm" ><em class="kf"></em>客服</a>
</div>

<script type="text/javascript" src="../static/js/zepto214.min.js" ></script>
<script type="text/javascript" src="../static/js/jquery-3.2.0.min.js" ></script>
<script type="text/javascript" src="../static/js/wap/main_wap214.js" ></script>

<div class="__data__" data_id="__data__[10685]" page="" postfix="s9377_wap" style="display: none; "><div></div><span>手游移动端公共调用</span></div><div style="display:none;">
<!--<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../hm.baidu.com/hm.js-cd832d38bb1b7fbc256eafc94870634e"/*tpa=https://hm.baidu.com/hm.js?cd832d38bb1b7fbc256eafc94870634e*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	-->
</div>
<script type="text/javascript">
	$('#bottom_nav a').eq(2).addClass('on');
</script>

</body>
</html>