.protocol-container {
    position: relative;
    width: 1000px;
    margin: 0 auto 48px;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border: solid 1px #94d0fd;
    border-top: 0;
}

.protocol-container > h3 {
    margin: 10px 0;
}

.protocol-container > p {
    line-height: 40px;
    font-family: "Microsoft YaHei";
}

.protocol-container > p.paragraph {
    padding-left: 30px;
}

.marg-top {
    margin-top: 30px;
}

.parents-banner {
    position: relative;
    width: 1000px;
    height: 249px;
    margin: 77px auto 0;
    background: url("../img/index_03.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_03.jpg*/ no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.sub-menu {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 37px;
    background: url("../img/index_05.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_05.jpg*/ no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.sub-menu > li {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.sub-menu > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.btn1.active {
    background: url("../img/index_5.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_5.jpg*/ no-repeat 0 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.btn2.active {
    background: url("../img/index_5.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_5.jpg*/ no-repeat -254px 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.btn3.active {
    background: url("../img/index_5.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_5.jpg*/ no-repeat -506px 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.btn4.active {
    background: url("../img/index_5.jpg")/*tpa=http://www.lilithgames.com/cn/images/parents/index_5.jpg*/ no-repeat -759px 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.top-info {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 48px;
    box-sizing: border-box;
    background-color: rgb(230, 241, 255);
    border: solid 1px #94d0fd;
}

.top-info > p {
    line-height: 26px;
}

.attachments {
    padding-left: 30px;
}

.form-container {
    position: relative;
    margin: 20px auto;
    width: 500px;
    height: 40px;
}

.form-container input {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    border: 1px solid #0078e7;
    box-sizing: border-box;
    padding: 0 10px;
}

.form-container button {
    position: relative;
    float: right;
    width: 30%;
    height: 100%;
}