input{
    outline:none;
    border: none;
}
.layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
@media screen and (max-width: 320px) {
    .layout{
        width: 252px;
    }
}
.forgetpassword-inputwrap{
    position: relative;
    margin-bottom: 10px;
    padding: 8px 0 8px 8px;
    height: 26px;
}
.forgetpassword-inputwrap input{
    float:left;
    padding-left: 5px;
    height: 27px;
}
#username .username-wrap{
    display: inline-block;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 10px;
    padding: 8px 0 8px 8px;
    height: 26px;
    width: 62%;
}
.username-wrap input{
    float:left;
    padding-left: 5px;
    height: 27px;
    width: 66%;
}
#getsms{
    position: absolute;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 13px 4px;
    width: 70px;
    text-align: center;
    background: #19C5AE;
    color: #FFFFFF;
}
#sms{
    background: #FFFFFF;
}
#sms input{
    width: 70%;
}
.forgetpassword-title{
    color: #19C5AE;
    margin-bottom: 10px;
    font-size: 18px;
}
.username-icon{
    float: left;
    display: inline-block;
    background: url("../img/ly_phone_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
.sms-icon{
    float: left;
    display: inline-block;
    background: url("../img/ly_verification_code_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
.delete{
    float:right;
    display: inline-block;
    background: url("../img/ly_delete_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
#forgetpassword-button{
    margin-bottom: 10px;
}
#forgetpassword-button input{
    width: 100%;
    padding: 13px 0;
    background: #19C5AE;
    color: #FFFFFF;
    font-size: 1.5rem;
}
