input{
    outline:none;
    border: none;
}
.layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
@media screen and (max-width: 300px) {
    .layout{
        width: 210px;
    }
}
.login-inputwrap{
    position: relative;
    margin-bottom: 10px;
    padding: 8px 0 8px 8px;
    height: 26px;
    background: #FFFFFF;
}
.login-inputwrap input{
    float:left;
    padding-left: 5px;
    height: 27px;
    width: 70%;
}
.username-icon{
    float: left;
    display: inline-block;
    background: url("../img/ly_phone_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
.password-icon{
    float: left;
    display: inline-block;
    background: url("../img/ly_pwd_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
.delete{
    float:right;
    display: inline-block;
    margin-right: 1%;
    background: url("../img/ly_delete_icon.png") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
}
#login-button{
    width: 100%;
}
#login-button input{
    width: 100%;
    padding: 13px 0;
    background: #19C5AE;
    color: #FFFFFF;
    font-size: 1.5rem;
}
#forget-password{
    display: inline-block;
    float: right;
    margin-top: 10px;
    border-bottom: 1px solid #ffffff;
}
#forget-password a{
    color: #ffffff;
}
#errorinfo{
    color: #D1675A;
}